{% extends "views-base.html" %}{% block title %}LDHCP Storage{% endblock %}

{% block content %}
        <!--Sidebar nav-->
        <div class="sidebar" id="side_nav">
            <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
                <h1 class="fs-4 fw-bold pt-1 ps-2"><span class="text-logo">LDHCP</span></h1>
                <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i class="fa-solid fa-bars"></i></button>
            </div>

            <ul class="list-unstyled px-2">
                <li class=""><a href="/dashboard" class="text-decoration-none px-3 py-3 d-block"><i class="fa-solid fa-house"></i> Dashboard</a></li>
                <li class=""><a href="/employee" class="text-decoration-none px-3 py-3 mt-2 d-block"><i class="fa-solid fa-user-tie"></i> Employees</a></li>

                <!--Made changes here-->
                <div class="btn-group dropend">
                    <button type="button" class="btn btn-secondary" id="sidebar-btn">
                        <a href="/inventory" class="text-decoration-none px-3 py-3 mt-2 d-block" id="inv-txt"><i class="fa-solid fa-box-archive"></i> Inventory</a>
                    </button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" id="sidebar-btn-toggle">
                      <span class="visually-hidden">Toggle Dropend</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class=""><a class="dropdown-item" href="/returns">Returns</a></li>
                        <li class=""><a class="dropdown-item" href="/restock">Restock</a></li>
                    </ul>
                </div>

                <div class="btn-group dropend">
                    <button type="button" class="btn btn-secondary" id="sidebar-btn">
                        <a href="/storage" class="text-decoration-none px-3 py-3 mt-2 d-block active" id="storage-txt"><i class="fa-solid fa-warehouse"></i> Storage</a>
                    </button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" id="sidebar-btn-toggle">
                      <span class="visually-hidden">Toggle Dropend</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class=""><a class="dropdown-item" href="/disposal">Disposal</a></li>
                    </ul>
                </div>
                <!---->

                <li class=""><a href="/medicine" class="text-decoration-none px-3 py-3 mt-2 d-block"><i class="fa-solid fa-pills"></i> Medicine</a></li>
                <li class=""><a href="/suppliers" class="text-decoration-none px-3 py-3 mt-2 d-block"><i class="fa-solid fa-truck-field"></i> Suppliers</a></li>
                <br><br><br><br>
                <li class=""><a href="#" class="text-decoration-none px-3 py-3 mt-5 d-block"><i class="fa-solid fa-gear"></i> Settings</a></li>
                <li class=""><a href="#" class="text-decoration-none px-3 py-1 mt-1 d-block"><i class="fa-solid fa-arrow-right-from-bracket fa-flip-horizontal"></i> Logout</a></li>
            </ul>
        </div>

        <!--Main Content-->
        <div class="content">
            <!--User Profile-->
            <div class="row px-3">
                <div class="col-4 col-sm-4 col-md-5 col-lg-7 col-xl-9">
                    <div class="d-flex justify-content-between px-2 py-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-8 col-sm-8 col-md-7 col-lg-5 col-xl-3 py-2">
                    <h1 class="circle-user-container"><i class="fa-solid fa-circle-user" id="user-logo-close" onclick="toggleUserProfile()"></i></h1>
                    <div class="sub-menu-wrap" id="subMenu">
                        <div class="card">
                            <div class="user-info">
                                <div class="row px-3">
                                    <div class="col-3 col-md-3 col-lg-3 ps-3 pt-3">
                                        <i class="fa-solid fa-circle-user" id="user-logo-open"></i>
                                    </div>
                                    <div class="col-9 col-md-9 col-lg-9 pt-4">
                                        <h4 class="user-name">My idol</h4>
                                    </div>
                                </div>
                                <hr class="user-info-hr">

                                <a href="#" class="sub-menu-link">
                                    <div class="row px-3">
                                        <div class="col-3 col-md-3 col-lg-3 ps-4">
                                            <i class="fa-solid fa-user-pen"></i>
                                        </div>
                                        <div class="col-9 col-md-9 col-lg-9 pt-2">
                                            <h5>Edit Profile</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="sub-menu-link">
                                    <div class="row px-3 pt-3">
                                        <div class="col-3 col-md-3 col-lg-3 ps-4">
                                            <i class="fa-solid fa-circle-question"></i>
                                        </div>
                                        <div class="col-9 col-md-9 col-lg-9 pt-2">
                                            <h5>Help & Support</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="sub-menu-link">
                                    <div class="row px-3 py-3">
                                        <div class="col-3 col-md-3 col-lg-3 ps-4">
                                            <i class="fa-solid fa-right-from-bracket"></i>
                                        </div>
                                        <div class="col-9 col-md-9 col-lg-9 pt-2">
                                            <h5>Logout</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Sales & Purchase of Medicines-->
            <div class="row g-3 px-3 py-3">
                <div class="col-12 col-lg-12">
                    <div class="card" id="table-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-8 d-flex align-items-center">
                                    <h6 class="card-title text-center fs-4">Storage</h6>  
                                </div>
                                <div class="col-lg-3">
                                    <div class="d-grid justify-content-end">
                                        <button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#addStorageModal">Add Storage</button>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="d-grid justify-content-center">
                                        <button type="button" class="btn btn-light">Filters</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table align-middle table-hover">
                                        <thead class="table-dark"><br>
                                            <tr class="table-header fw-semibold text-center"> 
                                                <th scope="col">Storage ID</th>
                                                <th scope="col">Batch ID</th>
                                                <th scope="col">Medicine ID</th>
                                                <th scope="col">Batch Name</th>
                                                <th scope="col">Batch Type</th>
                                                <th scope="col">Batch SKU</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for storage in storage_list %}
                                            <tr class="table-data align-middle text-center">
                                                <td class="fw-bold" scope="row">{{ storage.storage_id }}</td>
                                                <td>{{ storage.batch_id }}</td>
                                                <td>{{ storage.medicine_id }}</td>
                                                <td>{{ storage.batch_name }}</td>
                                                <td>{{ storage.batch_type }}</td>
                                                <td>{{ storage.batch_sku }}</td>
                                                <td>
                                                    <a href="#" class="btn btn-link edit-btn" data-bs-toggle="modal" data-bs-target="#editStorageModal{{ storage.storage_id }}"> 
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <form action="/delete_storage/{{ storage.storage_id }}" method="POST" style="display: inline;">
                                                        <button type="submit" class="btn btn-link delete-btn">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Add Storage Modal -->
            <div class="modal fade" id="addStorageModal" data-bs-backdrop="static" role="dialog" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addStorageModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="addStorageModalLabel">Add Storage</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" >
                            <form id="addStorageForm" action="/add_storage" method="POST">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="">Medicine ID</span>
                                    <input type="text" class="form-control" id="medicine_id" name="medicine_id" placeholder="Enter Medicine ID" required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="">Batch ID</span>
                                    <input type="text" class="form-control" id="batch_id" name="batch_id" placeholder="Enter Batch ID" required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="">Batch Name</span>
                                    <input type="text" class="form-control" id="batch_name" name="batch_name" placeholder="Enter Batch Name" required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="">Batch Type</span>
                                    <input type="text" class="form-control" id="batch_type" name="batch_type" placeholder="Enter Batch Type" required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="">Batch SKU</span>
                                    <input type="text" class="form-control" id="batch_sku" name="batch_sku" placeholder="Enter Batch SKU" required>
                                </div>    
                                <div class="modal-footer">
                                    <!--data-bs-dismiss="modal"  closes the modal-->
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Edit Storage Modal -->
            {% for item in storage_list %}
            <div class="modal fade" id="editStorageModal{{ item.storage_id }}" tabindex="-1" aria-labelledby="editStorageModalLabel{{ item.storage_id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editStorageModalLabel{{ item.storage_id }}">Edit Storage</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="/edit_storage/{{ item.storage_id }}">
                                <div class="mb-3">
                                    <label for="" class="form-label">Medicine ID</label>
                                    <input type="text" class="form-control" id="medicine_id" name="medicine_id" value="{{ item.medicine_id }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Batch ID</label>
                                    <input type="text" class="form-control" id="batch_id" name="batch_id" value="{{ item.batch_id }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Batch Name</label>
                                    <input type="text" class="form-control" id="batch_name" name="batch_name" value="{{ item.batch_name }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Batch Type</label>
                                    <input type="text" class="form-control" id="batch_type" name="batch_type" value="{{ item.batch_type }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Batch SKU</label>
                                    <input type="text" class="form-control" id="batch_sku" name="batch_sku" value="{{ item.batch_sku }}" required>
                                </div>
                                <div class="modal-footer">
                                    <!--data-bs-dismiss="modal"  closes the modal-->
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>     
{% endblock %}