#table-card{
    height: 620px;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(29, 75, 163, 0.1), 8px 8px 40px rgba(29, 75, 163, 0.15);
    border-radius: 14px;
    border: none;
}

.scrollable {
    height: 550px;
    overflow: scroll;
}

.table-header {
    color: #667085;
}

.table-data {
    color: #48505E;
}

.input-group-text {
    width: 150px;
}

.input-group-text.medicine {
    width: 200px;
}